* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

a:hover {
	text-decoration: underline;
}

li {
	list-style: none;
	text-align: right;
}

body {
	font-size: 2.5rem;
	background-color: #c490e4;
	font-family: 'Mulish', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 6.5rem;
	margin-bottom: ;
	padding: 1rem;
}

.header__menu-profile {
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

.header__menu-profile span {
	color: white;
	font-weight: 700;
	margin-left: 0.5rem;
}

.header__menu ul{
	display: none; 
}

.header__menu:hover ul, ul:hover {
	display: block;
}


.figure__header-container img {
	margin-left: 1rem;
	margin-top: 0.5rem;
	width: 20rem;
}


main{
	margin-top: 25rem;
	width: 100%;
}

.main__span {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-bottom: 2rem;
}

.main__span span {
	color: white;
	font-weight: bold;
	
}

.main__input{
	display: flex;
	align-content: center;
	justify-content: center;
}


.main__input input{
	width: 80rem;
	height: 4.5rem;
	outline: none;
	border-radius: 5rem;
	padding-left: 2rem;
	font-size: 1.6rem;
	background-color: rgba(255, 148, 204,0.5);
	border: solid 0.2rem white;
	color:white;
	
}

.main__input input::placeholder {
	color: white;
}


.carousel {
	width: 100%;
	padding: 3rem;
	position: relative;
	overflow-x: scroll;
}
footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 6rem;
	background-color: #965abb;
	padding: 15px;
}

footer span{
	color: white;
}
